$primary-color: linear-gradient(#f5efef, #f9dede, #fccecc, #febdb9, #feada6);
$font-stack: 'Open Sans', Forum;
$letter-size: 1.65em;
$font-colors: black;
$padding: 0px 1.5vw 0px 1.5vw;
$name-font: 'Libre Barcode 39','Homemade Apple';

html {
  height: 100%;


body {
  font-family: $font-stack;
  font-size: $letter-size;
  color: $font-colors;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  .block-body {
    flex-grow: 1;
    background: $primary-color;
    height: 100%;
    display: flex;
    flex-direction: column;

  a {
    text-decoration: none;
    color: $font-colors;
  }
  a:hover{
    font-size: 1.75em;
  }

  .beforeMain {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    #nav-bar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: $padding;
    }

    #name {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 2.5em;
      font-family: $name-font;
      padding: 2vh 1vw 0vh 1.25vw;
    }
  }

  .main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    h1, p {
      padding: 0px;
      margin: 0px;
    }

    .projectsMain {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.25vw;
      .end {
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: groove;
      }
    }

    .homeMain {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: auto;
    }

    .aboutMain {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 9vw 0px 9vw;
      .profileImage {
        border-radius: 20%;
      }
      .aboutContainers {
        flex-grow: 1;
        padding: $padding;
      }
    }

    padding: $padding;
} // .main
} // .block-body

} // body

} // html
