$primary-color: linear-gradient(#f5efef, #f9dede, #fccecc, #febdb9, #feada6);
$font-stack: 'Open Sans', Forum;
$letter-size: 1.65em;
$font-colors: black;
$padding: 0px 15px 0px 15px;
$name-font: 'Libre Barcode 39','Homemade Apple';

body {
  background: $primary-color;
  font-family: $font-stack;
  font-size: $letter-size;
  color: $font-colors;
  width: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: $font-colors;
  }
  a:hover{
    font-size: 1.85em;
  }
  .beforeMain {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    #nav-bar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: $padding;
    }

    #name {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 2.5em;
      font-family: $name-font;
      padding: 20px 15px 0px 15px;
    }
  }

  .main{
    h1, p {
      padding: 0px;
      margin: 0px;
    }
    .projectsMain {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      .end {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-style: groove;
      }
    }
    .homeMain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 65vh;
      width: auto;
    }

    .aboutMain {
      display: grid;
      grid-template-columns: 1fr 2fr 3fr 1fr;
      height: 65vh;
      width: auto;
      .profileImage {
        border-radius: 20%;
      }
      .aboutContainers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 25px 0px 25px;
        height: 100%;
      }
    }
    padding: $padding;
  }
}
