{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block main %}
<div class="aboutMain">
  <div class="aboutContainers"></div>
  <div class="aboutContainers"><img src="http://dump.betacantrips.com/ParisLouvrePortfolio.jpg" class="profileImage"></div>

  <div class="aboutContainers">
  <h1>About Me</h1>
  <p>I am a cyber security professional and self-taught web developer looking for an opportunity to improve my cyber security and web development skills. Prior to security and web development, I coordinated youth development programs in nonprofit organizations, worked as an educator in K-12 public schools, and assisted students with academic internships in higher education. I enjoy traveling, learning French, playing the occasional worker placement board, and watching sci-fi and fantasy shows such as The Expanse, Firefly, Orphan Black, Buffy the Vampire, etc.</p>
  <p>
    <br>Technical Skills/Knowledge: OSI Model, TCP/IP, Packet Capture, Log Analysis, Passive/Active Recon, IDS/IPS, Firewalls, Linux, Network Mapping, Vulnerability Assessment, Bash Scripting, Python, HTML, CSS, SASS, JavaScript, jQuery, Bootstrap, Node.js, Express.js, MongoDB, Mongoose, Passport.js, Socket.io, Mocha.js with Chai, Nunjucks, Git, Github, Heroku
  </p>
  </div>
  <div class="aboutContainers"></div>
</div>
{% endblock %}
