{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block main %}
<div class="aboutMain">
  <div class="aboutContainers"></div>
  <div class="aboutContainers"><img src="http://dump.betacantrips.com/rita-portfolio/hawaiinecklace.jpg" class="profileImage"></div>

  <div class="aboutContainers">
  <h1>About Me</h1>
  <p>I am a cyber security professional and self-taught web developer looking for an opportunity to improve my cyber security and web development skills. Prior to security and web development, my background was in nonprofit youth development and education. I enjoy traveling, learning French, playing the occasional worker placement board, and watching sci-fi and fantasy shows.</p>
  <p>
    <br>Technical Skills/Knowledge: OSI Model, TCP/IP, Packet Capture, Log Analysis, Passive/Active Recon, IDS/IPS, Firewalls, Linux, Network Mapping, Vulnerability Assessment, Bash Scripting, Python, HTML, CSS, SASS, JavaScript, jQuery, Bootstrap, Node.js, Express.js, MongoDB, Mongoose, Passport.js, Socket.io, Mocha.js with Chai, Nunjucks, Git, Github, Heroku
  </p>

<center>  <p><br><a href ="https://github.com/rlaw125" target="_blank">GitHub</a></p>
  <p><a href ="https://www.linkedin.com/in/lawrita/" target="_blank">LinkedIn</a></p></center>
  </div>
  <div class="aboutContainers"></div>
</div>
{% endblock %}
