<!DOCTYPE HTML>
<html>

<head>
  {% block startHead %}

  <title>
    {% block title %}
    {% endblock %}
  </title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Homemade+Apple|Forum|Libre+Barcode+39" rel="stylesheet"/ type="text/css">
  <link href="/css/output.css?cache=no" rel="stylesheet" type='text/css'/>
  {% endblock%}

  {% block extraHead %}
  {% endblock %}
</head>

<body>
  <div class="block-body">
    {% block body %}

    <div class="beforeMain">
      {% block beforeMain %}
      <div id="name">Rita Law</div>
      <div id="nav-bar">
        <a href ="/">Home</a>
        <a href ="/projects">Projects </a>
        <a href ="/about">About</a>
      </div>
      {% endblock %}
    </div>

    <div class="main">
      {% block main %}
      {% endblock %}

      <script>
      /*
      let changeBackground=()=>{
      if ("{{title}}"=="Tic Tac Toe"){
      let backgroundClass = document.getElementsByClassName("block-body");
      let links = document.getElementsByTagName("a"); // a collection of links
      backgroundClass[0].style.backgroundImage="none";
      backgroundClass[0].style.backgroundColor="#0b032d";
      backgroundClass[0].style.color="#ffb997";
      for(let i=0; i<links.length; i++){
      links[i].style.color="#ffb997";   // access individual links
    }
  }
};

window.onload =changeBackground; */
</script>

</div>

{% endblock %}
</div>
</body>
</html>
