{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block extraHead %}
    <meta name='description' content='Home page'>
    <link rel='icon' href='https://hyperdev.com/favicon-app.ico' type='image/x-icon'/>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width' initial-scale='1'>
    <link rel='stylesheet' href='/css/style.css' type='stylesheet'/>
{% endblock %}

{% block main %}
<div class="chat center">
    <h1><center>Socket.IO Chat Room</center></h1>
      <p id="num-users"> {{ currentUsers }} user(s) online </p>
      <div class="chat box">
        <ul id="messages">
          <li>Anonymous has joined the chat</li>
        </ul>
        <form action>
          <input id="m" autocomplete='off'>
          <button>Send</button>
        </form>
        </div>
</div>

      <a logout href='/logout'> Logout </a>
    <script src='https://code.jquery.com/jquery-2.2.1.min.js' integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js'></script>
    <script src='/js/client.js'></script>
{% endblock %}
