{% extends "base.html" %}
{% block title %}
Projects
{% endblock %}
{% block main %}
<center><h1>Projects</h1></center>
<br>
<div class="projectsMain">
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="/localweather">Local Weather API</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
</div>
{% endblock %}
