{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block main %}
<center><h1>Projects</h1></center>
<br>
<div class="projectsMain">
  <div class="back end"><a href="/chatIndex">Socket.IO Chat Room</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="front end"><a href="/ticTacToe">Tic Tac Toe</a></div>
  <div class="front end"><a href="/localweather">Local Weather API</a></div>
  <div class="front end"><a href="/wikiviewer">Wikipedia Viewer</a></div>
  <div class="front end"><a href="/pomodoro">Pomodoro Clock</a></div>
  <div class="front end"><a href="/simon">Simon Game</a></div>
  <div class="front end"><a href="/calculator">Calculator</a></div>
</div>
{% endblock %}
