{% extends "base.html" %}

{% block main %}
<center><h1>Projects</h1></center>
<br>
<div class="projects">
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="back end"><a href="#">back-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
  <div class="front end"><a href="#">front-end</a></div>
</div>
{% endblock %}
