html body .block-body {
  margin: 0px;
  padding: 0px;
}

html body .block-body .beforeMain #name {
  padding: 1vh 0vw 0vh 1.25vw;
}

div {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 3vh;
}

.btn {
  font-size: 2.75vh;
  font-family: 'Open Sans';
}

h1 {
  font-size: 5vh;
  font-weight: 600;
}

.writing {
  padding-top: 15vh;
  font-size: 3.5vh;
}

.get-location,
.row,
.get-weather, .borough {
}
