html body .block-body {
  margin: 0px;
  padding: 0px;
}

html body .block-body .beforeMain #name {
  padding: 1vh 0vw 0vh 1.25vw;
  font-size: 2.85em;
}

div {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 1.18em;
}

.btn {
  font-size: .7em;
  font-family: 'Open Sans';
  border-radius: 20%;
}

h1 {
  font-size: 2.1em;
  font-weight: 600;
}

.writing {
  padding-top: 15vh;
  font-size: 1.75em;
}

.get-location,
.row,
.get-weather, .borough {
}
